abbr -S -qq systemv='system_profiler SPSoftwareDataType | grep "System Version" | pbcopy'

abbr -S -qq g='git'
abbr -S -qq ga.='git add .'
abbr -S -qq gcm='git commit -m'
abbr -S -qq gpo='git push origin'
abbr -S -qq v='nvim'

alias cd='cd_func'
cd_func() {
  builtin cd "$@" && eza --icons
}
alias imgcat='/Users/nekantatsuju/.iterm2/imgcat'
alias ls='eza -a --icons'
